@model IEnumerable<IOT_Integration_For_Vital_Signs_Monitoring_System.Models.Patients>

<div class="container">
    <h2>PATIENT RECORD</h2>

</div>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>DATE</th>
            <th>TIME</th>
            <th>ACTIONS</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var patient in Model)
        {
            <tr>
                <td>@patient.Id</td>
                <td>@patient.Name @patient.LastName</td>
                <td>@patient.UpdatedDate.ToString("MMMM dd, yyyy")</td>
                <td>@patient.UpdatedDate.ToString("hh:mm tt")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@patient.Id" class="btn btn-info btn-sm">View</a>
                    <a asp-action="Edit" asp-route-id="@patient.Id" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Delete" asp-route-id="@patient.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>










